/*
 * uchicago web colors from
 * http://identity.uchicago.edu/guidelines/palette.shtml
 */

body {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; background-color: #fdfdfd;
  padding: 10px;
  font-size: 13.5pt;
}

div.banner {
  background-color: #800000;
  color: white;
  margin-bottom: 0px;
  margin-top: 0px;
  height: 41px; 
  line-height: 0px;
  font-size: 13pt;
}

h1 {
  text-align: center;
}

div.navbar {
  background-color: #800000;
  color: black;
  border-style: thin solid;
  border-top: thin solid black;
  font-size: 18pt;
}

div.banner, div.navbar {
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
}

div.banner, div.navbar, div.main, div.p, div.body, ul, li, table{
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
} 

html {
    overflow-y: scroll;
}

a, a:visited {
  color: blue;
  text-decoration: none;
}

a.navbar-link,a.navbar-link:visited {
  color: white;
}

a:hover, a.navbar-link:hover {
  text-decoration: underline;
}

@media only screen and (max-device-width: 480px) {
  div.navbar {
    font-size:15px;
  }

  div.main {
    margin-right: 0in;
    padding-left:0%;
    padding-right:0%;
  }

  div.banner, div.navbar {
    margin-right: 0in;
  }

}